<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title " id="exampleModalLabel">Add New Address</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-md-12 ">

                        <p class="text-success" id="message">{{message}}</p>
                        <form action="add-address" method="post" id="form">
                            <label for="">House Name</label>
                            <input type="text" name="HouseName" class="form-control" placeholder="House Name"
                                id="housename">
                            <label for="">Street</label>
                            <input type="text" name="Street" class="form-control" placeholder="Street" id="street">
                            <label for="">City/District</label>
                            <input type="text" name="City" class="form-control" placeholder="City" id="city">
                            <label for="">State</label>
                            <input type="text" name="State" class="form-control" placeholder="State" id="state">
                            <label for="">Pin</label>
                            <input type="text" name="Pin" class="form-control" placeholder="Pin" id="pin">

                            <p id="error" class="text-danger text-center"></p>
                            <button type="submit" class="btn btn-primary mt-4  w-100">Add Address</button>
                        </form>
                    </div>

                </div>



                <script>
                    let housename = document.getElementById('housename');
                    let street = document.getElementById('street');
                    let city = document.getElementById('city');
                    let state = document.getElementById('state');
                    let pin = document.getElementById('pin');

                    form.addEventListener('submit', (e) => {
                        if (housename.value == "" && street.value == "" && city.value == "" && state.value ==
                            "" && pin.value == "") {
                            document.getElementById('error').innerHTML = "Enter the address fields";
                            e.preventDefault();
                        } else if (housename.value == "") {
                            document.getElementById('error').innerHTML = "Enter house name";
                            e.preventDefault();
                        } else if (street.value == "") {
                            document.getElementById('error').innerHTML = "Enter street";
                            e.preventDefault();
                        } else if (city.value == "") {
                            document.getElementById('error').innerHTML = "Enter city or district";
                            e.preventDefault();
                        } else if (state.value == "") {
                            document.getElementById('error').innerHTML = "Enter the state";
                            e.preventDefault();
                        } else if (pin.value == "") {
                            document.getElementById('error').innerHTML = "Enter PIN Number";
                            e.preventDefault();
                        } {
                            {
                                !--
                                else if (!pin.value.match(/^[1-9]{1}[0-9]{2}\\s{0,1}[0-9]{3}$/)) {
                                    document.getElementById('error').innerHTML = "Enter a valid PIN Number";
                                    e.preventDefault();
                                }--
                            }
                        }
                    })
                </script>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-4 col-lg-2 " id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-dark " id="sidebar-wrapper" style="background-color: black:  !important;;">
            <div class="sidebar-heading border-bottom "></div>
            <div class="list-group list-group-flush bg-dark">
                <a class="list-group-item list-group-item-action list-group-item-light p-3 profile-side text-white"
                    href="/profile"><i class="fa-solid fa-user"></i> Profile</a>

                <a class="list-group-item list-group-item-action list-group-item-light p-3 profile-side text-white"
                    href="/edit-user-details">Edit Details</a>
                <a class="list-group-item list-group-item-action list-group-item-secondary p-3 "
                    href="/address-management">Address Management</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 profile-side text-white"
                    href="/change-password">Change Password</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 profile-side text-white"
                    href="/offers-coupons">Offers and Coupons</a>


            </div>
        </div>

    </div>
    <!-- Page content wrapper-->

    <!-- Top navigation-->

    <!-- Page content-->
    <div class="col-md-8 ms-5 mt-3">
        <div class="col-md-12">
            <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#exampleModal">
                <i class="fa-solid fa-plus"></i> Add new
                Address
            </button>

        </div>
        <div class="row">
        {{#each addresses}}
        <div class="card mt-3 col-md-5 ms-1">

            <div class="card-body ">
                <h5 class="card-title">Address {{@index_1}}<span></span></h5>
                <p class="card-text">House Name : {{this.HouseName}} </p>
                <p class="card-text">Street&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    {{this.Street}}</p>
                <p class="card-text">
                    City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    {{this.City}}</p>
                <p class="card-text">
                    State&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    {{this.State}}</p>
                <p class="card-text">
                    Pin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    {{this.Pin}}</p>

                <a href="/edit-address/{{this._id}}" class="btn btn-primary  ">Edit</a>
                <a href="/delete-address/{{this._id}}" class="btn btn-Danger  ">Delete</a>



            </div>
        </div>

        {{/each}}
        </div>

    </div>

</div>
