
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLongTitle">Select Address</h5>
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> --}}
      </div>
      <div class="modal-body">
        <div class="">
          {{#each addresses}}
          <div class="card mt-3 col-md-12   mx-3">
            <div class="card-body ">
              <h5 class="card-title"><input type="radio" name="Delivery address"
                  onclick="addDeliveryAddress('{{this.HouseName}}','{{this.Street}}','{{this.City}}','{{this.State}}','{{this.Pin}}','{{this._id}}')"
                  class="close" data-dismiss="modal"> Select this address</h5>
              <p class="card-text">House Name : <span id="'{{this._id}}'" +"HouseName">{{this.HouseName}}</span> </p>
              <p class="card-text">Street&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                {{this.Street}}</p>
              <p class="card-text">
                City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                {{this.City}}</p>
              <p class="card-text">
                State&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                {{this.State}}</p>
              <p class="card-text">
                Pin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                {{this.Pin}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> --}}
    </div>
  </div>
</div>


<section>
  <div class="container mx-auto">
    <div class="row">
      <div>
        <div class="container  p-5 mt-2">
          {{!-- <form action="" method=""  id="form" ></form> --}}
          <div class="row">
            <div class="col-md-4 mx-5 ">
              <input type="text" name="" id="walletamount" value="{{wallet}}" hidden>
              <h3 class="text-center">Summary</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price </th>
                    <th scope="col">Total </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each orderSummary.Products}}
                  <tr>
                    <th scope="row">{{counter @index}}</th>
                    <td><span id="">{{this.Name}}</span></td>
                    <td><span id="">{{this.Quantity}}</span></td>
                    {{#if this.Offer.Status}}
                    <td><span id="">{{this.DiscountedPrice}}</span></td>
                    <td><span id="">{{this.TotalProductPrice}}</span></td>
                    {{else}}
                    <td><span>{{this.Price}}</span></td>
                    <td><span id="">{{this.TotalProductPrice}}</span></td>
                    {{/if}}
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <span><strong>Bill Amount :&#8377;</strong></span><strong><span id="total">
                  {{orderSummary.TotalAmount}}</span></strong><br>
                 



              <span id="discountdisplaytag" style="display:none;" class="text-success"><strong> <span
                    id="discountedAmount"></span><span>% Coupon discount Added</span></strong></span>
              <span style="display: none;" id="discountdisplayamount"><strong><span>Total Amount to pay:</span><span
                    id="amounttopay"></span></strong></span>
               {{#if walletpay}}
                   <span><strong>Wallet Amount Added :&#8377;</strong></span><strong><span id="walletadded">
                  {{orderSummary.TotalAmount}}</span></strong><br>
                  {{else}}
                  {{#unless walletover}}
                   <span><strong>Wallet Amount Added :&#8377;</strong></span><strong><span id="walletadded">
                  {{wallet}}</span></strong><br>
                  <span style="" id=""><strong><span>Total Amount to pay:&#8377;</span><span
                    id=""></span>{{calculateAmountToPay wallet orderSummary.TotalAmount}}</strong></span>
                  {{/unless}}

              {{/if}}
              {{!-- <form action="" method=""  id="form" disabled></form> --}}
              {{!-- <input type="radio" name="PaymentMode" value="COD"><label for="" class="mx-2" checked>Cash On Delivery</label><br>
            <input type="radio" name="PaymentMode" value="Razorpay"><label for="" class="mx-2">Razorpay</label>
            <input type="radio" name="PaymentMode" value="Paypal"><label for="" class="mx-2">Paypal</label><br>
            <input type="text" name="userId" id="" value="{{userId}}" hidden> --}}
              <p id="error" class="text-danger text-center"></p>

              <input type="text" id="coupons" value="{{convertJsonStringify coupons}}" hidden>
              {{#if coupons}}
              <input type="text" id="coupon" placeholder="Enter your coupon code">
              <button class="btn btn-warning" onclick="checkCoupon()">Add coupon</button>
              {{/if}}
              {{#if wallet}}
              <div class="mt-5">
                <span><strong>Wallet Amount Remaining:&#8377; </strong></span><strong><span
                    id="wallet">{{calculateWallet wallet orderSummary.TotalAmount}}</span></strong><br>

              </div>

              {{/if}}

              {{!-- {{#if user.Wallet}}
            <span class="text-success font-weight-bold">You have &#8377;{{user.Wallet}} in your Wallet</span><br>
             <input type="number" id="wallet" placeholder="Enter wallet amount " min="1" max="{{user.Wallet}}" class="w-50">
            <button class="btn btn-warning" onclick="checkCoupon()">Add Amount</button>
            {{/if}} --}}
              {{!-- <button type="submit" class="btn btn-primary mt-4  w-100">Place Order</button> --}}
            </div>
            <div class="col-md-4  ">
              <button class="btn btn-success " onclick="enableDelivery()">Add New Address</button>
              <button type="button" class="btn btn-success " data-toggle="modal" data-target="#exampleModalLong">
                Select Address
              </button>
              {{!--  <h2 class="text-center ">Delivery Address</h2>--}}
              <p class="text-success" id="message">{{message}}</p>
              <form action="" method="" id="formPlaceOrder" disabled>
                <input type="hidden" name="AddressId" id="addressId">
                <label for="">House Name</label>
                <input type="text" name="HouseName" class="form-control" id="housename" disabled>
                <label for="">Street</label>
                <input type="text" name="Street" class="form-control" id="street" disabled>
                <label for="">City/District</label>
                <input type="text" name="City" class="form-control" id="city" disabled>
                <label for="">State</label>
                <input type="text" name="State" class="form-control" id="state" disabled>
                <label for="">Pin</label>
                <input type="text" name="Pin" class="form-control" id="pin" disabled><br>

                {{#if walletpay}} 
                <div>
                  <input type="radio" name="PaymentMode" value="Wallet"><label for="" class="mx-2">Pay From
                    Wallet</label><br>
                </div>

                 {{else}}
                <input type="radio" name="PaymentMode" value="COD"><label for="" class="mx-2" checked>Cash On
                  Delivery</label><br>
                <input type="radio" name="PaymentMode" value="Razorpay"><label for="" class="mx-2">Razorpay</label><br>
                <input type="radio" name="PaymentMode" value="Paypal"><label for="" class="mx-2">Paypal</label>
                 {{/if}}
             


                <input type="text" name="userId" id="" value="{{userId}}" hidden>
                <input type="text" name="couponId" id="couponid" hidden>
                <p id="error" class="text-danger text-center"></p>
                <button type="button" class="btn btn-primary mt-4  w-100" onclick="placeOrder()">Place Order</button>
              </form>

            </div>

          </div>
          {{!-- </form> --}}
        </div>
      </div>



    </div>
  </div>
</section>




